<html>
<head>
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>

</head>
<body>
<H1>Stock Closing Price</H1>

<form action="/">
<select name="s">
        {% for stock in stock_names %}
                {% if stock == current_stock_name %}
                        <option selected value="{{ stock }}">{{ stock }}</option>
                {% else %}
                        <option value="{{ stock }}">{{ stock }}</option>
                {% endif %}
        {% endfor %}
</select>
<input type="submit">
</form>

{{ script|safe }}
{{ div|safe }}

</body>
</html>
